@model ContactoDb.Models.ContactoModel;
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Guardar</h1>
<div class="card" style="width: 18rem;">
    <div class=" card-header">
        Crear contacto
    </div>
    <div class="card-body">
        <form asp-action="Guardar" asp-controller="Contacto" method="post">
            <div class="col-md-4 mb-3">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" asp-for="Nombre"/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="col-md-4 mb-3">
                <label for="Telefono">Telefono</label>
                <input type="text" class="form-control" asp-for="Telefono"/>
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>

            <div class="col-md-4 mb-3">
                <label for="Clave">Clave</label>
                <input type="text" class="form-control" asp-for="Clave"/>
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>

            <div class="col-md-4 mb-3">
                <label for="Correo">Correo</label>
                <input type="text" class="form-control" asp-for="Correo"/>
            </div>
            <div class="col-md-4 mb-3">
                <button type="submit" class="btn btn-primary mb-3">Guardar</button>
                <a asp-controller="Contacto" asp-action="Listar"><i class="bi bi-arrow-return-left"></i>Volver a la lista</a>
            </div>
        </form>
    </div>
</div>
